<ion-header>
    <ion-navbar core-back-button>
        <ion-title>{{ 'core.login.login' | translate }}</ion-title>

        <ion-buttons end>
            <button *ngIf="isFixedUrlSet" ion-button icon-only [navPush]="'CoreSettingsListPage'" [attr.aria-label]="'core.mainmenu.appsettings' | translate">
                <ion-icon name="cog"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="core-center-view">
    <core-loading [hideUntil]="pageLoaded">
        <div class="box">
            <div text-wrap text-center margin-bottom>
                <!-- Show site logo or a default image. -->
                <img *ngIf="logoUrl" [src]="logoUrl" role="presentation">
                <img *ngIf="!logoUrl" src="assets/img/login_logo.png" class="login-logo" role="presentation">

                <!-- If no sitename show big siteurl. -->
                <p *ngIf="!siteName" padding class="item-heading core-siteurl">{{siteUrl}}</p>
                <!-- If sitename, show big sitename and small siteurl. -->
                <p *ngIf="siteName" padding class="item-heading core-sitename"><core-format-text [text]="siteName"></core-format-text></p>
                <p *ngIf="siteName" class="core-siteurl">{{siteUrl}}</p>
            </div>

            <ion-grid radio-group [(ngModel)]="autoManufacturers">
                <ion-row>
                    <ion-col col-6>
                        <ion-row>
                            <ion-col col-3>
                                <ion-radio value="Internal users"></ion-radio>
                            </ion-col>
                            <ion-col col-9>
                                <ion-label no-margin>Internal users</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-6>
                        <ion-row>
                            <ion-col col-3>
                                <ion-radio value="External users"></ion-radio>
                            </ion-col>
                            <ion-col col-9>
                                <ion-label no-margin>External users</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div [ngSwitch]="autoManufacturers">
                <div *ngSwitchCase="'Internal users'" >
                    <form ion-list [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form">
                        <ion-item *ngIf="siteChecked && !isBrowserSSO">
                            <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}" formControlName="username" autocapitalize="none" autocorrect="off"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="siteChecked && !isBrowserSSO" margin-bottom>
                            <core-show-password item-content [name]="'password'">
                                <ion-input class="core-ioninput-password" name="password" type="password" placeholder="{{ 'core.login.password' | translate }}" formControlName="password" core-show-password [clearOnEdit]="false"></ion-input>
                            </core-show-password>
                        </ion-item>
                        <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid">{{ 'core.login.loginbutton' | translate }}</button>
                    </form>
                </div>

                <div *ngSwitchCase="'External users'" >
                    <form ion-list [formGroup]="otpForm" (ngSubmit)="generateOtp($event)" class="core-login-form">
                        <ion-item *ngIf="siteChecked && !isBrowserSSO">
                            <ion-input type="number" name="phone" placeholder="Enter your mobile number" formControlName="phone" autocapitalize="none" autocorrect="off"></ion-input>
                        </ion-item>
                        <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !otpForm.valid">Send OTP</button>
                    </form>

                    <form ion-list [formGroup]="otpLoginForm" *ngIf="otpLoginFormShow" (ngSubmit)="otpLogin($event)" class="core-login-form otpLoginFormShow">
                        <ion-item *ngIf="siteChecked && !isBrowserSSO">
                            <ion-input type="number" name="otp" placeholder="Enter your OTP" formControlName="otp" autocapitalize="none" autocorrect="off"></ion-input>
                        </ion-item>
                        <button ion-button block clear (click)="generateOtp($event)">Resend OTP</button>
                        <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !otpLoginForm.valid">Verify</button>
                    </form>
                </div>
            </div>
            <!-- Forgotten password button. -->
            <!-- <div padding-top>
                <button ion-button block text-wrap color="light" (click)="forgottenPassword()">{{ 'core.login.forgotten' | translate }}</button>
            </div> -->

            <ion-list *ngIf="identityProviders && identityProviders.length" padding-top>
                <ion-list-header text-wrap>{{ 'core.login.potentialidps' | translate }}</ion-list-header>
                <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon" (click)="oauthClicked(provider)" title="{{provider.name}}">
                    <img [src]="provider.iconurl" alt="" width="32" height="32" item-start>
                    {{provider.name}}
                </button>
            </ion-list>

            <ion-list *ngIf="canSignup" padding-top>
                <ion-list-header text-wrap>{{ 'core.login.firsttime' | translate }}</ion-list-header>
                <ion-item no-lines text-wrap *ngIf="authInstructions">
                    <p><core-format-text [text]="authInstructions"></core-format-text></p>
                </ion-item>
                <button ion-button block (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>
            </ion-list>

            <ion-list padding-top text-center>
                <button ion-button clear [navPush]="'CustomRegistrationPage'" [navParams]="siteUrl">
                    Register / Create an account
                </button>
            </ion-list>
        </div>
    </core-loading>
</ion-content>
