ion-app.app-root custom-courses-block {
    .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
        max-width: 60px !important;
        width: 100% !important;
    }

    .segment-md .segment-button, .segment-ios .segment-button {
        height: 4rem !important;
        border-color: $core-color !important;
        font-size: 1.4rem !important;
        line-height: 4rem !important;
        color: $core-color !important;
    }
    
    .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated {
        background-color: $core-color !important;
        color: #fff !important;
    }
    
    .coursesPanel {
        max-height: 260px !important;
        overflow: auto !important;
    }

    .item-md, .item-ios, .card-md ion-list, .card-ios ion-list {
        border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
    }
}


