<!-- Generated template for the CustomCoursesBlockComponent component -->
<ion-card>
  <ion-card-content no-padding>
          <div>
              <ion-segment [(ngModel)]="courses">
                  <ion-segment-button value="Compulsory Courses">
                          Compulsory Courses
                  </ion-segment-button>
                  <ion-segment-button value="Optional Courses">
                          Optional Courses
                  </ion-segment-button>
              </ion-segment>
          </div>
              
          <div [ngSwitch]="courses" class="coursesPanel">
              <div *ngSwitchCase="'Compulsory Courses'" >
                    <ion-list *ngIf="manual.length === 0">
                        <ion-item>
                            <span>No Compulsory Courses available</span>
                        </ion-item>
                    </ion-list>
                  <ion-list *ngFor='let course of coursesList'>
                      <ion-item *ngIf='course.enroltype == "manual"'>
                            <ion-grid no-padding>
                                <ion-row>
                                    <ion-col col-3>
                                        <a [href]="course.certificateVisable ? course.certificateUrl : '#'" core-link [title]="course.fullname">
                                            <img src={{course.certficateImageUrl}} style="max-width: 60px !important; width: 100%; height: auto;">
                                        </a>
                                    </ion-col>
                                    <ion-col col-9>
                                        <p (click)='contentRedirect(course)'>{{course.fullname}}</p>
                                        <core-progress-bar [progress]="course.progress" (click)='gradesRedirect(course)'></core-progress-bar>                  
                                    </ion-col>
                                </ion-row>
                            </ion-grid>     
                        </ion-item>
                  </ion-list>
              </div>

              <div *ngSwitchCase="'Optional Courses'" >
                    <ion-list *ngIf="self.length === 0">
                        <ion-item>
                            <span>No Optional Courses available</span>
                        </ion-item>
                    </ion-list>
                  <ion-list *ngFor='let course of coursesList'>
                      <ion-item *ngIf='course.enroltype == "self"'>
                            <ion-grid no-padding>
                                <ion-row>
                                    <ion-col col-3>
                                        <a [href]="course.certificateVisable ? course.certificateUrl : '#'" core-link [title]="course.fullname">
                                            <img src={{course.certficateImageUrl}} style="max-width: 60px !important; width: 100%; height: auto;">
                                        </a>
                                    </ion-col>
                                    <ion-col col-9>
                                        <p (click)='contentRedirect(course)'>{{course.fullname}}</p>
                                        <core-progress-bar [progress]="course.progress" (click)='gradesRedirect(course)'></core-progress-bar>                  
                                    </ion-col>
                                </ion-row>
                            </ion-grid>    
                      </ion-item>
                  </ion-list>
              </div>
          </div>
  </ion-card-content>
</ion-card>
