ion-app.app-root page-custom-registration {
    .box {
        padding: 16px;
        margin: 8px;
        background: #ffffff;
        border: 1px solid #dddddd;
        color: #3a3a3a;
    }
    .item-input {
        margin-bottom: 20px;
    }
    .validator-error {
        color: red;
    }
}
