<!--
  Generated template for the CustomRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box">
      <div text-wrap text-center margin-bottom>
          <img src="assets/img/login_logo.png" class="login-logo" role="presentation">
      </div>

    <form ion-list [formGroup]="registrationForm" (ngSubmit)="register($event)" class="core-login-form">
        <ion-item no-padding>
            <ion-input type="number" name="phone" placeholder="Enter your phone number" formControlName="phone" pattern="[0-9]*" autocapitalize="none" autocorrect="off" required ></ion-input>
        </ion-item>
        <p *ngIf="!registrationForm.controls.phone.valid && registrationForm.controls.phone.dirty" class="validator-error">Please enter a valid phone number.</p>
        
        <ion-item no-padding>
            <ion-input type="text" name="firstName" placeholder="Enter your first name" formControlName="firstName" autocapitalize="none" autocorrect="off" required ></ion-input>
        </ion-item>
        <p *ngIf="!registrationForm.controls.firstName.valid && registrationForm.controls.firstName.dirty" class="validator-error">Please enter your first name.</p>

        <ion-item no-padding>
            <ion-input type="text" name="surName" placeholder="Enter your surname" formControlName="surName" autocapitalize="none" autocorrect="off" required ></ion-input>
        </ion-item>
        <p *ngIf="!registrationForm.controls.surName.valid && registrationForm.controls.surName.dirty" class="validator-error">Please enter your surname.</p>

        <ion-item no-padding>
            <ion-input type="email" name="email" placeholder="Enter email id" formControlName="email" autocapitalize="none" autocorrect="off" required ></ion-input>
        </ion-item>
        <p *ngIf="!registrationForm.controls.email.valid && registrationForm.controls.email.dirty" class="validator-error">Please enter a valid email id.</p>

        <ion-buttons>
          <ion-row>
            <ion-col col-6>
                <button ion-button block [disabled]="!registrationForm.valid">Register</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block clear [navPush]="'CoreLoginCredentialsPage'">Cancel</button>
            </ion-col>
          </ion-row>
        </ion-buttons>
    </form>

  </div>
</ion-content>
