<!--
  Generated template for the MyLearningPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ learningPlanName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!loadingstatus" text-center>
        <ion-spinner></ion-spinner>
        <p>Loading...</p>
    </div>
    <div *ngIf="loadingstatus">
      <ion-list *ngIf="!learningPlanData || learningPlanData.length === 0">
          <ion-item>
              <span>No learning plans available</span>
          </ion-item>
      </ion-list>
      <ion-list no-padding>
          <ion-item *ngFor='let plans of learningPlanData' (click)="myCoursesPage(plans)" detail>
              <span>{{plans.coursename}}</span>
              <p>Status : {{plans.coursestatus}}</p>
          </ion-item>
      </ion-list>
    </div>
</ion-content>
