ion-app.app-root {
  .card-title-ios, .card-title-ios {
      text-overflow: ellipsis;
      width: 188px;
      overflow-x: hidden;
  }
  .card-header-ios + .card-content-ios {
      overflow: auto;
      max-height: 404px;
      min-height: 404px;
  }
  .card-header-ios, .card-header-ios {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .card-header-ios, custom-learning-plan .card-header-ios {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin-bottom: 16px;
  }
  .item-ios ion-thumbnail img {
      max-width: 45px;
      width: 100%;
  }

  .segment-ios .segment-button {
      height: 4rem;
      border-color: #e95615;
      font-size: 1.4rem;
      line-height: 4rem;
      color: #e95615;
  }

  .segment-ios .segment-button.segment-activated {
      background-color: #e95615;
  }

  .coursesPanel {
      max-height: 237px;
      overflow: auto;
      min-height: 237px;
  }

  .card-header-ios + .card-content-ios {
      max-height: 198px;
      overflow: auto;
  }
  .card-header-ios, .card-header-ios {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}