page-core-login-site custom-courses-block .item-ios ion-thumbnail img {
    max-width: 60px !important;
    width: 100% !important;
}

page-core-login-site custom-courses-block .segment-ios .segment-button {
    height: 4rem !important;
    border-color: #e95615 !important;
    font-size: 1.4rem !important;
    line-height: 4rem !important;
    color: #e95615 !important;
}

page-core-login-site custom-courses-block .segment-ios .segment-button.segment-activated {
    background-color: #e95615 !important;
    color: #fff !important;
}

page-core-login-site custom-courses-block .coursesPanel {
    max-height: 237px !important;
    overflow: auto !important;
}