<core-loading [hideUntil]="dataLoaded">
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <custom-course-overview></custom-course-overview>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <custom-learning-plan></custom-learning-plan>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12 >
                <custom-courses-block></custom-courses-block>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <custom-training-sessions></custom-training-sessions>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <custom-catalog-view></custom-catalog-view>
            </ion-col>
        </ion-row>
    </ion-grid>
</core-loading>
