<!-- Generated template for the CustomCourseOverviewComponent component -->
<ion-card no-padding>
  <ion-card-header>
      <ion-icon name="menu"></ion-icon>
      My Course Overview
  </ion-card-header>
  <ion-card-content>
      <ion-list *ngIf="chartData.code === 100">
          <ion-item>
              <core-chart [type]="courseOverView.type" [data]="courseOverView.data" [labels]="courseOverView.labels" height="300"></core-chart>
              <span>No charts available</span>
            </ion-item>
      </ion-list>

      <ion-list *ngIf="chartData.code === 200">
          <ion-item>
              <core-chart *ngIf="chartData.code === 200" [type]="courseOverView.type" [data]="courseOverView.data.datasets[0].data" [labels]="courseOverView.data.labels" height="300"></core-chart>
          </ion-item>
      </ion-list> 
  </ion-card-content>
</ion-card>
