ion-app.app-root custom-course-overview {
    .card-header-md, .card-header-ios {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
        margin-bottom: 16px !important;
    }

    .list-md > .item-block, .list-ios > .item-block {
        border: none !important;
        text-align: center !important;
    }
}
