ion-app.app-root custom-learning-plan {
    .card-header-md + .card-content-md, .card-header-ios + .card-content-ios  {
        max-height: 216px;
        overflow: auto !important;
    }
    .card-header-md, .card-header-ios {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    }

    .item-md, .item-ios, .card-md ion-list, .card-ios ion-list {
       border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    }

    .item-md p, .item-ios p {
        margin-top: 5px !important;
    }
}
