<!-- Generated template for the CustomLearningPlanComponent component -->
<ion-card>
  <ion-card-header>
      <ion-icon name="menu"></ion-icon>
      My Learning Plan
  </ion-card-header>
  <ion-card-content no-padding>
      <ion-list *ngIf="!myLearningPlan || myLearningPlan.length === 0">
        <ion-item>
            <span>No learning plans available</span>
        </ion-item>
      </ion-list>
      <ion-list *ngFor='let plans of myLearningPlan'>
          <ion-item *ngIf="myLearningPlan || myLearningPlan.length > 0">
              <span (click)="mylearningPlanRedirect(plans)">{{plans.planname}}</span>
              <p>No of Courses : {{plans.tot_course}}</p>
              <core-progress-bar [progress]="plans.percent"></core-progress-bar>
          </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>