<!-- Generated template for the CustomCatalogViewComponent component -->
<ion-card>
  <ion-card-header>
      <ion-icon name="menu"></ion-icon>
      Catalog Management
  </ion-card-header>
  <ion-card-content no-padding>
      <ion-list *ngIf="!catalogOverView || catalogOverView.length === 0">
          <ion-item>
              <span>No catalog available</span>
          </ion-item>
      </ion-list>
     
      <ion-list *ngFor='let cat of catalogOverView'>
          <ion-item>
            <ion-card>
              <img src="{{cat.courseimg}}"/>
              <ion-card-content text-center>
                  <ion-card-title text-center>
                    {{cat.name}}
                  </ion-card-title>
                  <p text-center text-wrap>
                    The most popular group ever.
                  </p>
                  <button *ngIf="cat.enrollabel === 'Unenrol Me'" ion-button block (click)="unEnrollUser($event, cat.id, cat.enrolid)">{{cat.enrollabel}}</button> 
                  <button *ngIf="cat.enrollabel !=='Unenrol Me'" ion-button block (click)="enrollUser($event, cat.id, cat.enrolid)">{{cat.enrollabel}}</button> 
              </ion-card-content>
            </ion-card>
          </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
