ion-app.app-root custom-catalog-view {
    .card-title-md, .card-title-ios {
        text-overflow: ellipsis !important;
        width: 235px !important;
        overflow-x: hidden !important;
    }
    .card-header-md + .card-content-md, .card-header-ios + .card-content-ios {
        overflow: auto !important;
        max-height: 445px;
    }
    .card-header-md, .card-header-ios {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    }
}
