ion-app.app-root custom-training-sessions {
    .customScroll{
        max-height: 228px;
        overflow: auto !important;
    }
    .card-header-md, .card-header-ios {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    }
}
