<!-- Generated template for the CustomTrainingSessionsComponent component -->
<ion-card>
  <ion-card-header>
      <ion-icon name="menu"></ion-icon>
      Training Sessions
  </ion-card-header>
  <ion-card-content no-padding>
      <div class="customScroll">
        <ion-list *ngIf="!trainingSession || trainingSession.length === 0">
          <ion-item>
              <span>No training session available</span>
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let training of trainingSession; let i=index" (click)="toggleGroup(i);">
          <ion-item ion-item style="border-top: 1px solid rgba(0, 0, 0, 0.3)">
            <ion-row>
              <!-- Parent Pages  -->
              <ion-col class="menu-name">
                <span ion-text>
                  <ion-icon name="list"></ion-icon>
                  {{training.name}}
                  <ion-icon [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" *ngIf="training.sessions" float-right></ion-icon>
                </span>
    
                <!-- Child Pages  -->
                <div *ngIf="isGroupShown(i)">
                  <ion-list *ngIf="!training.sessions || training.sessions.length === 0">
                    <ion-item>
                        <span>No session available</span>
                    </ion-item>
                  </ion-list>

                  <ion-list no-lines *ngFor="let session of training.sessions; let i2=index">
                    <ion-item no-padding text-wrap>
                      <ion-row>
                        <ion-col class="menu-name" col-4>
                          <p>session {{ i2 + 1 }}</p>
                          <p>{{ session.capacity }}</p>
                        </ion-col>
                        <ion-col class="menu-name" col-8>
                          <p>{{session.date}} </p> 
                          <p>{{session.time}}</p>
                          <p>{{session.status}}</p>
                          <p>
                            <ion-buttons>
                                <button ion-button clear no-padding *ngIf="session.label1 == 'signup'" (click)="signUp($event, session, training)">
                                    <img src="assets/img/custom-img/Sign up.png" style="max-width: 35px; width: 100%;"> 
                                </button>
                              
                                <button ion-button clear no-padding *ngIf="session.label1 == 'booked'" (click)="emptyClick($event)">
                                    <img src="assets/img/custom-img/booked.png" style="max-width: 35px; width: 100%;">
                                </button>

                                <button ion-button clear icon-only no-padding *ngIf="session.label1 == 'Approved'" (click)="emptyClick($event)">
                                    <img src="assets/img/custom-img/Approved.png" style="max-width: 35px; width: 100%;">
                                </button>
                              
                                <button ion-button clear no-padding *ngIf="session.label2 == 'cancle'" (click)="cancel($event, session)">
                                    <img src="assets/img/custom-img/Cancel Sign up.png" style="max-width: 35px; width: 100%;"> 
                                </button>
                              
                                <button ion-button clear no-padding *ngIf="session.label1 == 'requested for approval'" (click)="emptyClick($event)">
                                    <img src="assets/img/custom-img/request.png" style="max-width: 35px; width: 100%;"> 
                                </button>
                              
                                <button ion-button clear no-padding *ngIf="session.label2 == 'user cancel'" (click)="emptyClick($event)">
                                    <img src="assets/img/custom-img/Declined-01.png" style="max-width: 35px; width: 100%;"> 
                                </button>
                              
                                <button ion-button clear no-padding *ngIf="session.label2 == 'admin declined'" (click)="emptyClick($event)">
                                    <img src="assets/img/custom-img/Declined-01.png" style="max-width: 35px; width: 100%;"> 
                                </button>

                                <button ion-button clear no-padding *ngIf="session.label1 == 'waiting list'" (click)="emptyClick($event)">
                                  <img src="assets/img/custom-img/waitlist.png" style="max-width: 35px; width: 100%;"> 
                                </button>
                            </ion-buttons>
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>
    
        </ion-list>
      </div>
  </ion-card-content>
</ion-card>
